html {
  font-family: sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
}

.lastResult {
  color: white;
  padding: 3px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 50px;
  grid-gap: 20px;
}

#buttonGroup {
  margin: 15px;
}
.menuBox {
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}


ul {
  padding: 5px;
}

li {
  margin-left: 10px;
  padding-left: 10px;
  line-height: 1.5rem;
}
